
<h1>Avengers</h1>

<div>
<form action="/addavenger" method="POST">
    <div>
        <label for="name">Enter Avenger Name:</label>
        <input type="text" id="name" name="newavenger">
    </div>
    <div>
        <label for="img">Enter Image URL:</label>
        <input type="text" id="img" name="newavenger_img">
    </div>
    <button>ADD</button>
</form>
</div>
<div class="container">
    <div class="row">
            <% avengers.forEach(function(newavenger){ %>
        <div class="col-4">
            <a><%= newavenger.name %></li></a>
            <img src="<%= newavenger.img_src %>" alt="">
        </div>
        <% }); %>
    </div>
</div>
