<% include partials/header %>
<style>
div{
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
<div>
    <ul>
        <li><a href="/avenger/ironman">IronMan</a></li>
        <li><a href="/avenger/captain%20america">Captain America</a></li>
        <li><a href="/avenger/hulk">Hulk</a></li>
        <li><a href="/avenger/thor">Thor</a></li>
        <li><a href="/avenger/black%20widow">Black Widow</a></li>
        <li><a href="/avenger/hawkeye">Hawkeye</a></li>
    </ul>
</div>
<h1>ADD NEW AVENGER</h1>
<form action="/addavenger" method="POST">
    <input type="text" name="newavenger">
    <button>ADD</button>
</form>

<% include partials/footer %>