<% include partials/header %>
<style>
div{
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
<div>
    <ul>
        <li><a href="/avenger/ironman">IronMan</a></li>
        <li><a href="/avenger/captain%20america">Captain America</a></li>
        <li><a href="/avenger/hulk">Hulk</a></li>
        <li><a href="/avenger/thor">Thor</a></li>
        <li><a href="/avenger/black%20widow">Black Widow</a></li>
        <li><a href="/avenger/hawkeye">Hawkeye</a></li>
    </ul>
</div>

<% include partials/footer %>