<% include partials/header %>

<div class="container">
        <h1 class="display-1 mb-5">Home Page</h1>
        <a name="" id="" class="btn btn-primary" href="/register" role="button">Sign Up</a>
        <a name="" id="" class="btn btn-dark" href="/login" role="button">Login</a>
        
</div>

<% include partials/footer %>