<% include partials/header %>

<div class="container">
        <h1>Secret Page </h1>       
        <a name="" id="" class="btn btn-danger" href="/" role="button">Logout</a>       
         
</div>

<% include partials/footer %>
